:root {
  /*========== Colors ==========*/
  --primary-color: #6c7289;
  --secondary-color: #3d8168;
  --tertiary-color: #1c232b;
  --light-color: #ffffff;
  --body-color: #f2ebe3;

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --title-font: "Fraunces", serif;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

.container {
  width: 343px;
  height: 611px;
  margin: 28px 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--light-color);
}

.image-preview img {
  width: 100%;
  display: block;
}

.image-preview img.desktop {
  display: none;
}

.card-description {
  padding: 24px;
}

.card-description h5 {
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: var(--font-medium);
  color: var(--primary-color);
  font-family: var(--body-font);
  margin-bottom: 12px;
}

.card-description h1 {
  color: var(--tertiary-color);
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 14px;
}

.card-description p {
  line-height: 23px;
  font-size: 14px;
  color: var(--primary-color);
  font-family: var(--body-font);
  margin-bottom: 16px;
}

.price-content {
  display: flex;
  flex-direction: row;
  text-align: end;
  justify-content: center;
  gap: 24px;
  margin-bottom: 14px;
}

.price-content #price-current,
.price-content #price-original,
.price-content #discount {
  margin: 0;
}

.price-content #price-current {
  font-size: 32px;
  line-height: 32px;
  color: var(--secondary-color);
  font-weight: var(--font-bold);
  font-family: var(--title-font);
}

.price-content #price-original {
  font-size: 13px;
  margin-top: -6px;
  color: var(--primary-color);
  text-decoration: line-through;
  font-family: var(--body-font);
}

.price-content .price-discount {
  display: flex;
  align-items: center;
}

.price-discount #discount {
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--primary-color);
}

.btn {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color linear 0.4s;
}

.btn:hover {
  background-color: #1a4032;
}

.btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-bold);
  font-size: 14px;
  font-family: var(--body-font);
  color: var(--light-color);
}

.btn a img {
  margin-right: 11.61px;
}

@media (min-width: 611px) {
  .container {
    min-width: 600px;
    height: 450px;
    display: flex;
    flex-direction: row;
  }

  .image-preview img.desktop {
    display: block;
  }

  .image-preview img.mobile {
    display: none;
  }

  .card-description {
    width: 300px;
  }

  .card-description p {
    margin-bottom: 24px;
  }

  .card-description h5 {
    margin-bottom: 20px;
  }

  .card-description h1 {
    margin-bottom: 24px;
  }

  .price-content {
    padding-left: 10px;
    margin-bottom: 30px;
  }

  .price-content .price-discount {
    text-align: start;
  }

  .btn {
    width: 236px;
  }
}
